body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;

}


.container {
    width: 100%;
    max-width: 400px;
    padding: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.options label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
}

.options input[type="number"] {
    width: 60px;
    padding: 3px;
}

.options input[type="checkbox"] {
    transform: scale(1.2);
}

.result {
    margin-bottom: 15px;
}

.result > input {
    width: 60%;
    height: 35px;
}

.result > button {
    background-color: rgb(14, 189, 14);
    color: white;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
}