body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    box-sizing: border-box;
    border: #0d6efd 1px solid;
    box-shadow: 0px 0px 5px rgba(198, 198, 198, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container:hover {
    box-shadow: 10px 10px 15px rgba(198, 198, 198, 0.3);
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.datetime {
    margin: 10px auto;
    display: block;
    font-size: 24px;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    resize: none;
}


button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #45a049;
}

.btn {
    background-color: #af4c54;
    color: #ffffff;
}

.btn:hover {
    /* nothing */
}
.btn-class {
    background-color: #4caf50;
    color: #ffffff;
}


#result {
    font-size: 20px;
    margin-top: 20px;
    color: #000000;
    font-weight: bold;
}
