body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 245px;
    border: 1px solid #0d6efd;
    box-shadow: 0px 0px 5px rgba(198, 198, 198, 0.3);
    border-radius: 10px;
    overflow: hidden; /* important for rounded top corners */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10px;
}

.card {
    background-color: blue;
    width: 100%;
    padding: 10px 0;
}

.card > h1 {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0;
}

.clock {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 40px; /* reduced for proper fit */
}

.container > button {
    border: none;
    outline: none;
    background-color: #4caf50;
    color: white;
    border-radius: 10px;
    padding: 10px;
}