* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
}

/* TOP SECTION */
.container {
    background-color: #cccccc;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: url('https://images.unsplash.com/photo-1503264116251-35a269479413');
    background-size: cover;
    background-position: center;
}

.container > h2 {
    color: white;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
}

.search-container > button {
    background-color: white;
    border: none;
    outline: none;
    padding: 5px;
    cursor: pointer;
}

i {
    font-size: 25px;
    color: black;
}

/* IMAGE SECTION */
.image-container {
    padding: 40px;
    min-height: 60vh;
}

.image-container > h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

/* RESPONSIVE GRID */
.image-grid {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* IMAGE CARD */
.images {
    border-radius: 8px;
    overflow: hidden;
}

/* FIX - Responsive Image */
.images > a > img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

/* BUTTON INSIDE <a> */
.images > a > button {
    width: 100%;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background: white;
}
.images > a > button:hover {
    color: blue;
}

.images > a > button:hover {
    opacity: 0.9;
}


.more-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.more-container > button {
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    background: #4CAF50;


}
