body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container-1 {
    width: 100%;
    max-width: 400px;
    border: none;
    background-color: #ecec8d;
    box-shadow: 0px 0px 5px rgba(198, 198, 198, 0.3);
    border-radius: 10px;
    overflow: hidden; /* important for rounded top corners */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 60px;
}

.hidden {
display: none;
}

button {
    margin-top: 100px;
    border: none;
    outline: none;
    color: white;
    background-color:#4caf50;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}