* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #c1c1c1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.player-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 390px;
}

.img-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    top: -60px;
}

h2 {
    margin: 10px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.progression-bar {
    height: 10px;
    background-color: black;
    width: 100%;
}
.progression-fill {
    height: 10px;
    background-color: red;
    width: 66%;
}

.controls {
    margin-top: 20px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    color: black;
}

.play-pause {
    font-size: 35px;
    padding: 10px;
}
.play-pause:hover {
    opacity: 0.7;
    cursor: pointer;
}

.forward-backward {
    font-size: 25px;
    padding: 10px;

}
.forward-backward:hover {
    opacity: 0.7;
    cursor: pointer;
}